root = true

[*]
end_of_line = lf

[*.{js,ts,tsx,md,css,less,prisma}]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
ij_javascript_use_double_quotes = false
ij_typescript_use_double_quotes = false

[*.py]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
