body {
    background-color: #181818;
}
#color {
    text-align: center;
    margin: 10px auto;
}
#lorem {
    color: white;
    padding: 12rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: black;
}